body{
    background-color: rgb(214, 226, 240);
} 
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
#img{
    border-radius: 15px;
    overflow:hidden;
}
#small{
    width:375px;
    background-color: white;
    border-radius: 25px;
}
main{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1{
    font-family: Outfit;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 24px;
    text-align: center;
    padding: 5%;
}
#extra{
    font-size: 15px;
    color:hsl(220, 15%, 55%);
    padding-left:10%;
    padding-right: 10%;
    text-align: center;
}
.attribution{
     font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
.card-image-top{
    border-radius: 25px;
}
